.button{

    transition: all 0.3s ease;
    
    .call{
    font-size: larger;
    transition: transform 0.5s ease;
    }}
    
    .button:hover .call {
      transform: rotate(360deg); /* Rotate the icon on hover */}