.bg-animation {
  background: radial-gradient(circle, rgba(240, 245, 255, 0.8) 0%, rgba(240, 245, 255, 0) 60%);
  animation: rotate 20s infinite linear;
  background-size: 200% 200%;
  
}
.animation{
  opacity: 0.3;
 }


 .information .h1{
  font-family:"Poppins", serif;
  font-size: 30px;
 }

 .information .p{
  font-family:"Poppins", serif;
  font-size: 16px;
 }

 .button{

transition: all 0.3s ease;

.call{
font-size: larger;
transition: transform 0.5s ease;
}}

.button:hover .call {
  transform: rotate(360deg); /* Rotate the icon on hover */
}


.consultaion{
  display: none;
}





@keyframes rotate {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(13%, 13%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}




@media (max-width: 700px) {


  .Hero{
    margin-top:10vh ;

  }
 .Details{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }


  .animation{
   opacity: 0.3;
  }

  .information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .h1{
      font-size: 15.43px;
      font-weight:700;

      font-family: "Poppins", serif;
      line-height: 23.5px;
      align-items: center; 
          .span{
            color: #5AC8FA;
          }
    }
    .p{
      
      font-size: 14px;
      font-weight: 400;

      font-family: "Poppins", serif;
      line-height: 21px;
      align-items: center;

    }
  }
 .consultaion{
  display: block;
 }
.button{
  width: 251px;
  height: 44px;
justify-content: center;
 gap: 10px;
padding: 10px 3px;
font-weight: bold;
font-size: 14.18px;
margin: auto;
transition: all 0.3s ease;

.call{
  font-weight: bold;
font-size: 24.18px;
transition: transform 0.5s ease;
}



}
.button:hover .call {
  transform: rotate(360deg); /* Rotate the icon on hover */
}

}