:root {
	--cards: 6;
	--cardHeight: 57vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 6vw;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}
#card5 {
	--index: 5;
}
#card6 {
	--index: 6;
}

.card {
	
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

.ourservices{
	/* text-center text-[54px] font-semibold text-[#262262] mb-8 */

	margin-bottom: 32px;
	font-size: 54px;
	font-weight: 600;
	color: #262262;
	text-align: center;
}
.ourp{
	width: 50%;
	margin: auto;
	text-align: center;
	color: #232323;
	font-size: 24px;

	/* w-1/2 m-auto text-center  text-[#232323] mb-8 text-[24px] */
}

@media (max-width: 700px) {

	.ourservices{
		color: #262262;
		font-weight: bold;
		font-size: 30px;
		align-items: center;
	}
	.ourp{
		font-size: 16px;

		width: 80%;
		margin: auto;
		text-align: center;
		color: #232323;



	}
	.card{
color: #262262;
	}

}