.career-solution {
   padding: 26vh 2rem 8rem 2rem;
    text-align: center;
    background: #eaf8ff;

    font-family: Arial, sans-serif;
  }
  
  .career-solution h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .career-solution p {
    font-size: 1rem;
    color: #555;
  }

  .bg-animation {
    background: radial-gradient(circle, rgba(240, 245, 255, 0.8) 0%, rgba(240, 245, 255, 0) 60%);
    animation: rotate 20s infinite linear;
    background-size: 100% 100%;
    
  }
  
  .waitlist-btn {

    margin: 1rem auto;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    background: transparent;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .waitlist-btn .arrow {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .waitlist-btn:hover {
    background-color: #138380;
    color: white;
    transition: background-color 1.5s;
    transition: color 1.5s;

  }
  .animation{
    opacity: 0.1;
   }
  
  .circles{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    .circle{
        display: flex;

    flex-direction: column;
    animation: rotate 20s infinite linear;

  
        .Logo{
            border-radius: 100%;
            width: 70px;
            height: 70px;
            background-color: white;
            display: flex;
            justify-content: center;
            margin: auto;
img{
    border-radius: 100%;
}
           
        }
        .names{
          background-color: white;
     
          padding: 10px 30px;
          border-radius: 15px;
          gap: 0;

          h1{
            font-size: 24px;
            font-weight: bold;
            color: #138281;
          }
          p{
            color: #138281;
 margin-top: -12px;
            font-size: 12px
          };
        }
    }
  }

  @keyframes rotate {
    0% {
      transform: translate(0%, 0%);
    }
    50% {
      transform: translate(20%, 13%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
  