:root {
	--cards: 4;
	--cardHeight: 47vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 5vw;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#cards {
	list-style: none;

	padding-left: 0;

	display: grid;

	grid-template-columns: repeat(2, 1fr);

	grid-template-rows: repeat(2, var(--cardHeight));

	gap: var(--cardMargin);

	padding-bottom: calc(var(--cards) * var(--cardTopPadding));

	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

.OurPortfolio{
	/* text-center text-[54px] font-semibold text-[#262262] mb-8 */
	text-align: center;
	font-size: 54px;
	font-weight: 600;
	color: #262262;
	margin-bottom: 8px;
}


.Portfolio-container p{
/* w-1/2 m-auto text-center text-[24px] text-[#232323] mb-8 */
width: 50%;
	margin: auto;
	text-align: center;
	color: #4b5563;
	font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
	margin-bottom: 8px;

}

@media (max-width: 700px){
 .Portfolio-container{
	margin-top: 56vh;
	margin-bottom: 0;
 }

 .OurPortfolio{
	font-size: 30px;
	font-weight: bold;
	align-items: center;
	color: #262262;
 }
 .Portfolio-container p{
	font-size: 16px;
	width: 80%;
	margin: auto;
	text-align: center;
	color: #4b5563;

 }
#cards{
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
 }
}
